// Font weights
$regular: 400;
$medium: 500;
$bold: 900;

// Base Font
$base-font-family: 'Roboto', sans-serif;
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: normal;

body {
	color: $white-color;
	font-family: 'Roboto', sans-serif;
	// background: url("../images/jonatan-pie-180869.jpg") no-repeat;
	// background-size: 100%;
	background-color: $main-bg;
}

img {
	width: 90%;

	@include tablet {
		width: 50%;
	}
	@include desktop {
		width: 20%;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

// CONTAINERS
.container {
	width: 80%;
	margin: 0 auto;

	@include desktop {
		width: 960px;
	}
}