// MEDIA MIXINS
@mixin phone {
	@media screen and (min-width: #{$break-small}) and (max-width: #{$break-medium}) {
		@content;
	}
}
@mixin tablet {
	@media screen and (min-width: #{$break-medium}) and (max-width: #{$break-large - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$break-large}) {
		@content;
	}
}