$body-bg-image: "";

// Colors
$white-color: #f7f7f7; //text
$main-bg: #d4e5ef; // main bg, button border
$accent-color: #2586b3; // button and links
$head-footer-bg: #090909;
$input-bg: #000000;

// MEDIA QUERIES
$break-small: 320px;
$break-medium: 760px;
$break-large: 1200px;

$tablet: "(min-width: $break-medium) and (max-width: $break-large)";
$desktop: "(min-width: $break-large)";