body {
  color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  background-color: #d4e5ef;
}

img {
  width: 90%;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  img {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  img {
    width: 20%;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: #2586b3;
  border: 1px solid #d4e5ef;
}

.header h2 {
  margin-top: 0;
  padding-top: 20px;
}

.brand {
  font-size: 1.5rem;
  text-align: center;
}

.highlight-color {
  color: #2586b3;
}

/*# sourceMappingURL=maps/style.css.map */
