#menu-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #4C8fec center;

	&:hover {
		background-color: purple;
		border-radius: 4px 4px 0 0;
	}


	@include desktop {
			display: none;
	}
}

nav ul,
nav:active ul {

	@include phone {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		left: 25%;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	@include tablet{
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		left: 25%;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}

	@include desktop {
		
	}
	
}

nav:hover ul {
	display: block;
}

.nav-collapse {
	text-align: center;
	
	@include desktop {
		text-align: left;
	}
}